<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年5月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>明天就要进行招标投标，此时供应商却感冒了，热心的公司采购只好去给他通通气</li>
        <li>下雨打伞，一时雨塞</li>
        <li>程序员的夺命连环call就是循环调用的意思</li>
        <li>小明去仓库搬米，搬到最后，肩上的米对他说：“我们就是最后一袋了，谢谢”</li>
        <li>拔丝地瓜 ×<br>
          拔丝的瓜 √
        </li>
        <li>我是国内家庭，可以过国际家庭日吗？</li>
        <li>小明不识字却识大体，因为语文是大学体育老师教的</li>
        <li>小明打麻将总是赢，于是大家都叫他“老胡”</li>
        <li>：You are so beautiful<br>
          ：YOASOBI 怎么了？
        </li>
        <li>新型网络暴力：青蛙、眼镜、时间单位</li>
        <li>小明一手交钱一手交货，于是钱货两空</li>
        <li>小明成年后对电影院老板说：“我想看《罗马真日》”</li>
        <li>让人们多休息几天，就是在人为造假</li>
        <li>小王加入戒色吧后改名为王富贵</li>
        <li>客服会给自己对象发亲亲吗？</li>
        <li>若干年后新冠病毒灭绝了生活恢复正常，20后感慨地说：“自从我出生以来，还没有过过这样的日子”。</li>
        <li>把QQ删除，动态清零了</li>
        <li>因为互联网公司毕业潮，今年将会有超过一千万毕业生</li>
        <li>口味清淡的小明发表《不食盐论》</li>
        <li>滴水穿石，石说：“好滴”</li>
        <li>小明突发急病却因为没有24小时核酸导致医生不治身亡</li>
        <li>小明又好色又菜，成为了食人族餐桌上的特色菜</li>
        <li>为了击穿石头，小明发起了水滴筹</li>
        <li>食人族饭后肚子疼，竟然是因为吃了凉的艺人</li>
        <li>鸟类筑巢最怕下雨，一下雨，干窝变潮窝</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/19#title1">2022年5月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

