<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年2月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>小明的穿着习惯就是穿着习惯</li>
        <li>患有异装癖的小明偷偷把苹果店里的电脑全装上了塞班系统</li>
        <li>另辟蹊径的人那么厉害，为什么不另辟一条大路呢</li>
        <li>宁让三分，不抢篮板</li>
        <li>都说花钱的才是大爷，我上班就是在花老板的钱，为什么我不是他大爷呢</li>
        <li>夸父的孩子夸父逐日</li>
        <li>小明因为说了天堂笑话而被抓上天堂</li>
        <li>赌神对侄子说：“赌不如叔”</li>
        <li>小明在理发店问：“卷发真的能➕关注吗？”</li>
        <li>“没梗可太好了”，刚体检完的老王说</li>
        <li>小明丁克的理由是怕生</li>
        <li>柯南去看老中医——名针探柯南</li>
        <li>小明讲不清道理，故扯淡</li>
        <li>当初叫人家小甜甜，现在叫人家布兰妮</li>
        <li>胡萝卜卡在地里拔不出来成为卡卡罗特</li>
        <li>.md后缀的文件是在骂人吗？</li>
        <li>阎王爷上任——地狱开局</li>
        <li>手抓羊肉也是一种羊入虎口</li>
        <li>鱼儿回归大海，沉浸在沉浸在海水中的喜悦中</li>
        <li>小明在求道的路上说：“求一本《道》”</li>
        <li>部长对下属说：“一时间想不到，那就用两个小时想”</li>
        <li>卡比新作也叫新之卡比</li>
        <li>“你很有经验嘛”，勇者看着一只高等级的怪物说到</li>
        <li>怀孕第一天，小红在网上学习《安全生产第一课》</li>
        <li>现在好多动漫都出了中配，请问什么时候出顶配？</li>
        <li>小明经常去天桥底下买菜，今天到了却发现菜贩子被赶走了，只能感叹一句：“桥本有菜啊”</li>
        <li>小王是小王爸独子</li>
        <li>钓鱼佬：水不在深，有鱼则成</li>
        <li>夫妻双双把家还说的是夫妻一起还房贷</li>
        <li>开关灯就是控制变亮</li>
        <li>杨：离婚申请书寄了吗？
          黄：俺寄啦，baby
        </li>
        <li>挖掘机久经沙场</li>
        <li>妖怪看着唐僧说：“一万年太久，只蒸朝夕”</li>
        <li>日本烧鸟，食人族烧脑</li>
        <li>stackoverflow网站因为防溢不力将被关停</li>
        <li>只有盲人才敢摸象，能看到的人不敢触碰</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/16#title1">2022年2月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

