.about-main-container {
  margin: 20px 0;
  overflow: hidden;
}
.about-article {
  background-color: white;
  width: 820px;
  padding: 20px 0;
  margin-right: 320px;
}
.about-paragraph {
  display: block;
  padding: 0 20px;
  margin: 16px 0;
  word-wrap: break-word;
  word-break: normal;
}
.about-title {
  padding: 0 20px;
}
.about-side {
  position: absolute;
  top: 20px;
  right: 0;
  width: 300px;
  /*background-color: white;*/
  margin-left: 20px;
  height: 300px;
}
.about-index {
  position: fixed;
  background-color: white;
  height: inherit;
  width: inherit;
}
.about-index-title {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e4e6eb;
}
.about-index-body {
  position: relative;
  max-height: 460px;
  margin: 8px 4px 0 0;
  overflow: auto;
}
.about-index-list {
  position: relative;
  line-height: 22px;
  padding: 0 0 12px;
}
.about-index-body-item-h1 {
  padding: 8px 8px 8px 20px;
}

.about-index-body-item-h1:hover {
  background-color: #f4f5f5;
}

.about-index-body-item-h1:hover:before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 22px;
  background: #1e80ff;
  border-radius: 0 4px 4px 0;
}

.about-index-body-item-h2 {
  padding: 8px 8px 8px 36px;
}
.about-index-body-item-h3 {
  padding: 8px 8px 8px 54px;
}

.about-index-body-item-h1 a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.normal-a {
  color: #007fff;
  padding-right: 16px;
  cursor: pointer;
  background-image: url("../../assets/external-link.svg");
  background-position: top right;
  background-size: 16px;
  background-repeat: no-repeat;

}
