
<div class="about-main-container">
  <div class="about-article">
    <h3 class="about-title" id="title1">自我介绍</h3>
    <p class="about-paragraph">
      大家好，我是云峰，这里是我的博客。
    </p>
    <p class="about-paragraph">
      18年毕业以后，就一直在一家地方国企工作，写前端，用的是国内很少人用的angular，刚开始工作前两年还觉得新鲜，而且那时候疫情还没爆发，所以生活还算过得去。
    </p>
    <p class="about-paragraph">
      后来疫情爆发，部门业务收缩，新需求减少，基本都是在之前的老代码上修修改改，没有什么成长，再加上国内政府的一些操作，让我觉得需要跑路了。
    </p>
    <p class="about-paragraph">
      于是在21年7月考过了日语n2，同年8月考托业到了800分。当时的想法是，赶紧刷题投简历然后面试，尽快找到日本的工作然后过去，但是因为一直没有下定决心和缺乏勇气，就拖到了现在。
    </p>
    <p class="about-paragraph">
      最近看到上海被折腾成那个样子，又提起了跑路的决心。正好可以通过这个博客，记录一下自己刷题和面试准备的过程。
    </p>
    <h3 class="about-title" id="title2">写博客的原因</h3>
    <div class="about-paragraph">
      现在想写这个博客的原因也很简单
      <ol>
        <li>为了把自己之前写过的段子都记下来（20年11月开始在微博“弱智吧日常”投稿）。</li>
        <li>在日常工作学习中如果遇到了什么问题能够做个记录，以后再遇到了就可以参考。</li>
        <li>可以记录一些个人生活和感想，github账号的内容能够保存很久，也不会被政府或者企业随便封号。</li>
        <li>可以算作是一个业余小项目，写在简历上有助于求职。</li>
      </ol>
    </div>
    <h3 class="about-title" id="title3">2022年目标</h3>
    <div class="about-paragraph">
      <ol>
        <li>攒钱20w</li>
        <li>找到在日本的工作</li>
        <li>写10篇博客文章</li>
      </ol>
    </div>
    <h3 class="about-title" id="title4">联系我</h3>
    <div class="about-paragraph">
      <ul>
        <li>Email: nightst117170@gmail.com</li>
        <li>Github: <a (click)="openLink('https://github.com/nightst')" class="normal-a">nightst</a></li>
      </ul>
    </div>
    <p class="about-paragraph">
      本博客样式模仿
      <a (click)="openLink('https://juejin.cn')">掘金论坛，</a>基于<a (click)="openLink('https://angular.io')">Angular13</a>进行开发，通过<a
      (click)="openLink('https://github.com/angular-schule/angular-cli-ghpages')">Angular-cli-ghpages</a>发布到<a
      (click)="openLink('https://pages.github.com')">Github Pages</a>
    </p>
  </div>
  <div class="about-side">
    <div class="about-index">
      <p class="about-index-title">
        目录
      </p>
      <div class="about-index-body">
        <ul class="about-index-list">
          <li class="about-index-body-item-h1">
            <a (click)="hrefTo('title1')">自我介绍</a>
          </li>
          <li class="about-index-body-item-h1">
            <a (click)="hrefTo('title2')">写博客的原因</a>
          </li>
          <li class="about-index-body-item-h1">
            <a (click)="hrefTo('title3')">2022年目标</a>
          </li>
          <li class="about-index-body-item-h1">
            <a (click)="hrefTo('title4')">联系我</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
