
<div class="about-main-container">
  <div class="about-article">
    <h3 class="about-title">自我介绍</h3>
    <p class="about-paragraph" id="自我介绍">
      大家好，我是云峰，这里是我的博客。
    </p>
    <p class="about-paragraph">
      18年毕业之后，一直在做前端开发，使用的是国内很少公司用的Angular框架。工作第一年是学习期，那时候什么都不懂，连js都没接触过，每天
    </p>
    <h3 class="about-title">写博客的原因</h3>
    <div class="about-paragraph">
      现在想写这个博客的原因也很简单
      <ol>
        <li>为了把自己之前写过的段子都记下来（20年11月开始在微博“弱智吧日常”投稿）。</li>
        <li>在日常工作学习中如果遇到了什么问题能够做个记录，免得以后再遇到了又重新开始。</li>
        <li>这个博客可以记录一些个人生活和感悟，github账号的内容能够保存很久，也不会被政府或者企业随便封号。</li>
        <li>这个博客可以算作是一个业余小项目，写在简历上有助于求职。</li>
      </ol>
    </div>
    <p class="about-paragraph">
      本博客基于<a (click)="openLink('https://angular.io')">Angular13</a>进行开发，通过<a (click)="openLink('https://github.com/angular-schule/angular-cli-ghpages')">Angular-cli-ghpages</a>发布到<a (click)="openLink('https://pages.github.com')">Github Pages</a>
    </p>
    <p class="about-paragraph">
      内容1
    </p>
    <p class="about-paragraph">
      标题2
    </p>
    <p class="about-paragraph">
      标题2-1
    </p>
    <p class="about-paragraph" id="test">
      内容2-1
    </p>
  </div>
  <div class="about-side">
    <div class="about-index">
      <p class="about-index-title">
        目录
      </p>
      <div class="about-index-body">
        <ul class="about-index-list">
          <li class="about-index-body-item-h1">
            <a href="/about/#标题1">标题1</a>
          </li>
          <li class="about-index-body-item-h2">
            内容1
          </li>
          <li class="about-index-body-item-h1">
            标题2
          </li>
          <li class="about-index-body-item-h2">
            <a href="/about/#test">标题2-1</a>
          </li>
          <li class="about-index-body-item-h3">
            <a href="/about/#test">内容2-1</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
