<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年4月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>自从有了冰箱和冷库，腐败行为大大减少</li>
        <li>逃犯看到王警官拿出手铐，笑着说：“原来你也玩这个？”</li>
        <li>某市被评为高水平城市只因刚下过一场大雨</li>
        <li>来总去微博办公区视察，员工们夹道欢迎</li>
        <li>1，也叫指男针</li>
        <li>坟墓那么贵，感觉很多人都死无葬身之地</li>
        <li>令尊不能叫贵父吗？</li>
        <li>女儿问裁判：“我爹地的得分多少？”</li>
        <li>福瑞控百试百灵鸟</li>
        <li>大学生们不思进取的原因可能是因为他们只知道abandon</li>
        <li>弹性工作制就是上班可以早来，下班可以晚走</li>
        <li>“大音希声，大象无形”，所以看不到房间里的大象是很合理的</li>
        <li>小海绵问妈妈：“妈妈妈妈，我是海绵宝宝吗？” <br>
          妈妈回答道：“不，你是海绵，宝宝”
        </li>
        <li>杀手对被害人说：“有人让我来做了你” <br>
          被害人说：“do i ?” <br>
          杀手脸一红……
        </li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2021年4月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

