<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年6月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“都说手机照相没有灵魂，怪不得我用手机拍不到鬼”，王道长说到。</li>
        <li>“明明是针打我，为什么叫我打针？”，小明对护士说</li>
        <li>电流表和电压表是一对表兄弟</li>
        <li>“这句话”里有话。</li>
        <li>小明出门前把一瓶一氧化碳放在桌子上，回来却只看到一瓶二氧化碳，小明愤怒地吼道：“我气坏了！”</li>
        <li>妈妈经常说我不如邻居家的孩子争气，我不服，跑到邻居家看，原来邻居家养的是一台蒸汽机！</li>
        <li>动物园的开屏广告是真的欺诈，我每次去都看不到孔雀开屏！</li>
        <li>“大夫您看我脸上长痘能治好吗？”
          “这就得看脸了”，医生说
        </li>
        <li>下雨了，也叫下上雨了</li>
        <li>沙发（猫抓版）</li>
        <li>“丁丁是紫色的”，天线宝宝说。</li>
        <li>背英语单词的时候我看到第一个词就abandon了</li>
        <li>“挺烧脑的”，小明看着桌上的烤脑花说到。</li>
        <li>小明十分幸运，终于在付出了九十分的努力之后取得了一百分的好成绩</li>
        <li>在字节工作的小明每天回家很晚，晚餐只能做点快手菜吃，后来被HR怀疑是友商派来的奸细给开除了。</li>
        <li>微软公司停止更新Windows xp系统是对的，因为现在好多人都在寻找戳他们xp的东西</li>
        <li>过年准备回家的小明被父母拦在门外说他是乡外返乡势力。</li>
        <li>小明看着桌上的奶茶说：“这是我一点点的一点点”。</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/8#title1">2021年6月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

