<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年8月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>王警官工作非常认真，在举行婚礼时也要见证人</li>
        <li>“乐天古玩”店的招牌不能反着写</li>
        <li>秘书：首长，下周一见三连的将士们。<br>
          首长：说了多少次，部队里不要使用网络用语！
        </li>
        <li>：为什么没人问有没有1呢？<br>
          ：没零敢
        </li>
        <li>脱口秀演员这么喜欢callback，建议帮我写几个回调函数</li>
        <li>为了蹲守井盖小偷，局里安排井井有条</li>
        <li>正装香水太贵了，倒装来一份谢谢</li>
        <li>维密秀出卡牌游戏，里面全是超模卡</li>
        <li>分子对质子说：“你别跟电子结婚，好多人都说电子阳痿了”</li>
        <li>猎魔人：听说你们这有狼人杀？</li>
        <li>HR拿到了候选人的薪资流水后爱上了他</li>
        <li>0去相亲注定了相1为命</li>
        <li>小明吃了油鱼，得了脂溢性皮炎</li>
        <li>足控最喜欢脚本</li>
        <li>天空下起了零星小雨，酷暑难耐的人们无法给出五星好评</li>
        <li>忽必烈是铁木真的元宝</li>
        <li>小王说他爸是李刚，群众们纷纷评论：“你这背景太假了”</li>
        <li>后羿射日也叫指日可die</li>
        <li>“被领导卡了”，食人族张着嘴对大夫说</li>
        <li>日历：今日孩子出生，宜家</li>
        <li>二手平台订单截图，也叫折现图</li>
        <li>使用蓝色清洁剂后，小便池成为了小碧池</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/22#title1">2022年8月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
