<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年12月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>为何房间里充满了蛛丝马迹，房梁却一丝不挂呢？</li>
        <li>文天祥路过成都某夜店，写下了《过零丁洋》。</li>
        <li>驾校在赛博坦星球属于风月场所</li>
        <li>擎天柱和人约架，对面来了一面包车人。</li>
        <li>医生，为什么我喝茶喝不出味道？
          因为你没品。
        </li>
        <li>假的中山装是不是叫山中山啊</li>
        <li>热点事件被强压之后沸点提升于是热度更高了</li>
        <li>学生做试卷就是先卷起来试试，合格了才能进入社会卷。</li>
        <li>既然不让批评，为什么不直接从字典里把“批评”删掉呢</li>
        <li>为什么有的病要后天才能得？我明明现在就有啊。</li>
        <li>可和能明明是两个表示确定性的字，合在一起却变成了表示不确定。</li>
        <li>坏了，我分不清汉语拼音和英文字母了</li>
        <li>水溶C100，钢水溶T1000。</li>
        <li>秒是时间单位，时间管理局也是。</li>
        <li>奥特曼是光之巨人，属于自然光源还是人造光源？</li>
        <li>对正在减肥的人喊加油到底是好还是不好</li>
        <li>身为河南人，我爱国的表现就是对着任何我觉得不错的事物说：“中！”</li>
        <li>龙族不可以色色，要不然会变色龙。</li>
        <li>佛祖度化世人的时候遇到叫迪奥的会很开心，因为迪奥不难度。</li>
        <li>国外搞四天工作制，是不是在造假啊？</li>
        <li>贾，通价字，通假字。</li>
        <li>吧友们家里从来不开无线网，因为他们都蹭别人热点。</li>
        <li>擅长谈恋爱的人不仅有情调，而且有情调。</li>
        <li>大庆和重庆明明是两个不同的地名，却表达了同一个意思。</li>
        <li>天晴也不失为一种日出</li>
        <li>SK-2这个牌子做了这么久，什么时候才能升级到SK-3啊？</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/14#title1">2021年12月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

