<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年12月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>湖南人评价上海菜：“甜不辣”</li>
        <li>我发现巴士和大公司一样，都喜欢裁人</li>
        <li>法国3：1波兰，波兰竟然是隐性性状！</li>
        <li>小明去某公司上班后，遇到每个不认识的同事都会问一句：“未闻花名？”</li>
        <li>山东小明指着公园说：“各有千秋”</li>
        <li>“见面分一半！”，黄毛对苦主说。</li>
        <li>少壮不努力，老大嫁做商人妇</li>
        <li>得知群友阳性后，小明怀疑自己电子阳痿的原因是被传染了电子新冠</li>
        <li>视频文件为什么只读</li>
        <li>嗑死神的cp，die到了</li>
        <li>为了考出好成绩，小明考试时请枪手将监考老师击毙</li>
        <li>小明问日语老师京都怎么念，老师说：京都念慈庵</li>
        <li>足控尤其爱看女足</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/26#title1">2022年12月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
