<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年5月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“都说天下文章一大抄，那我的考试一小抄也是可以的吧”，小明对监考老师说</li>
        <li>小明躺在icu里，说：“我已经没有什么好活了”</li>
        <li>测试用例见面互相打招呼：“你是哪个单元的？”</li>
        <li>安培问开尔文：“你是哪个单位的？”</li>
        <li>《故都地球》——郁达夫</li>
        <li>“你动心了？”，食人族爸爸指着餐桌上的一盘人心问儿子</li>
        <li>日行一善，也叫日一帮人</li>
        <li>“在下李冠希”，“原来是陈老师，久仰久仰”</li>
        <li>“人生不会做？快去找厨师长传授人生经验”，食人族厨师说</li>
        <li>用“爱不释手”来形容高跟鞋，感觉怪怪的</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2021年5月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

