<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年9月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“大清早就亡了”，医生早上把尸体推进停尸房时说到。</li>
        <li>拳法大师不断击打瀑布，将水流打开后被烫伤。</li>
        <li>抽奖活动的主办方为了降低中奖率，将活动奖品设置为只有小奖和大奖。</li>
        <li>长方形也叫偏方</li>
        <li>王老汉买菜为了五毛钱讨价还价，和摊主说不到一块去</li>
        <li>如果撸猫是吸猫的话，那撸多就是鸣人吧</li>
        <li>“我喜欢喝绿豆汤”
          “原来绿豆是你的爱豆”
        </li>
        <li>餐厅老板总是询问外卖员“美团饿了？”，美团是不是永远都吃不饱啊？</li>
        <li>发现一个奇怪的现象：只要在房间的某个地方放一个盆或者桶，上面的天花板就会滴水。</li>
        <li>金山寺收录了我的毕业论文后导致水漫金山</li>
        <li>我想到了一个绝妙的调休笑话，但是我现在不能说，因为它调休了</li>
        <li>倒计时给人带来的压力太大了，为什么不改成正计时？</li>
        <li>食人族妈妈对孩子说：“现在有些小鲜肉太热了，等他们凉了再吃”</li>
        <li>吃不起人的食人族只能喝衡水老白干</li>
        <li>“河南省的一中”，我的一位河南舍友正在介绍他的母校。
          “真的吗，那你能不能给我介绍几个？”，另一位来自成都的舍友问道。
        </li>
        <li>小时不识月，除非720个</li>
        <li>细小的电弧，是不是也可以叫做雷丝</li>
        <li>“这位同学，你站起来做什么？”
          “老师，你不是说写作文之前要先提肛吗？”
        </li>
        <li>“你好敷衍，用点心吧”，服务生端着点心对敷衍说道。</li>
        <li>齐天大圣的筋斗云，是不是也是一种云服务？</li>
        <li>木乃伊：“感觉身体被掏空”</li>
        <li>鲁迅先生在桌子上刻了两个字，一个是“早”字，另一个也是“早”字</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/11#title1">2021年9月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

