<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年8月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>肯德乐于助人，成立了基金会叫肯德基金会</li>
        <li>剪刀是布料的总裁</li>
        <li>“请问您是？”，阴阳师晴明问眼前的人
          “二口女”，她说
          “原来是吕女士，失敬失敬”，晴明拱手说
        </li>
        <li>镜子因为反光被光明神教带走</li>
        <li>现在的可爱多可爱多了</li>
        <li>“这么说，你很涌？”，我对海浪说</li>
        <li>擅长绳艺的王警官每次都能将犯人绳之以法</li>
        <li>黑手党白手起家</li>
        <li>有目的地得到表扬</li>
        <li>“将来的事等江来再说”，上海市民说到。</li>
        <li>“下饺子咯！”，食人族看着游泳池里的人们说到。</li>
        <li>平面几何因为不够立体，被踢出《数学之美》系列丛书</li>
        <li>“abandon”这个词真的充满哲理：在开头就预示了结尾</li>
        <li>请哪吒给大家表演一个重头戏</li>
        <li>医生：“今天你好了吗？”
          患者愣了一下，说：“你好”
        </li>
        <li>镰刀来了，韭菜们一边倒地支持。</li>
        <li>农民伯伯会患有一些种地得的病</li>
        <li>律师：“我希望警官对被告人做无罪推定”
          王警官想了想，说：“把这里的“推”换成“敲”会不会好一点？”
        </li>
        <li>虚竹对无涯子说：“就你喜欢摆谱！”</li>
        <li>小红对小明说：“空调坏了，你找个时间把空调修一下”
          小明说：“不要调休”
        </li>
        <li>迸是患有颈椎病的进</li>
        <li>为什么“听说读写”里的“听”在第一位？明明光速比声速快啊</li>
        <li>导弹需要领导吗</li>
        <li>英语老师：“同学们，今天我们学习“主 谓 宾 宾”这个句型结构”
          阿伟：“这个彬彬就是逊啦，吃饭还要主喂”
        </li>
        <li>大家疯狂内卷的原因竟然是开卷有益</li>
        <li>地主拿出地契说：“这是我获得地的证明”</li>
        <li>“这说不过去”，我指着“禁止通行”的路牌说。</li>
        <li>aeiou是元音，kon是轻音，miku是初音。</li>
        <li>为什么大家要去苹果店里买手机，去手机店里买苹果呢？</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2021年8月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

