<p>post20 works!</p>
<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年6月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“碰到bug，给我整断网了”，蜘蛛说。</li>
        <li>朋友问小明为什么喜欢在游戏里捡垃圾，他说：“应捡尽捡”</li>
        <li>抓住三天后，油盐不进的俘虏终于腌制入味了</li>
        <li>“没带就是没做”，老师解释自己不带套的原因</li>
        <li>“举办了，然后我拿去投自制”，韩国看着端午节说</li>
        <li>“我就是看不起你怎么了！”，小明愤怒地把电视切换到免费频道</li>
        <li>“我喜欢过他”，小明看着对面球队的后卫说</li>
        <li>：如何了解性？<br>
          ：透过他人
        </li>
        <li>小明在制作假药时被王警官当场抓获，原因是没有标签对手心</li>
        <li>铁杵磨成针，也叫变细法</li>
        <li>地狱笑话一般底线较低，有品德教育问题，建议更名为德育笑话</li>
        <li>如果饼干被打湿了，晾的时候记得干脆面朝下</li>
        <li>曹操肯定早就看关羽不顺眼了，怪不得后面赐他红马呢</li>
        <li>费马定理第一条：“你所热爱的，就是你的生活”</li>
        <li>这班列车开走了，站台工作人员在等下班</li>
        <li>请问燃气灶断气了该如何抢救？</li>
        <li>小明对老板说：“文件发给您了，您看到文件大小便能区分出来”</li>
        <li>“解不出来”，小明对数学老师说，在厕所里。</li>
        <li>牙医只能靠别人的牙齿吃饭</li>
        <li>今年是老子逝世不知道多少年，让我们一起默哀老子</li>
        <li>鲍勃吃了一口盐巴，咸得他直喊：“齁me”</li>
        <li>小红和男友早已订婚，但是她又爱上了女闺蜜，于是决定退订回T</li>
        <li>净事房对太监必宫必净</li>
        <li>某地高考使用地方卷是为了避开全国卷</li>
        <li>按键精灵会梦到机械哥布林吗？</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/20#title1">2022年6月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

