<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年3月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>汽车人结婚的时候会唱：“掀起你的车前盖”吗？</li>
        <li>年轻人碰瓷，未老先摔</li>
        <li>顺丰空运，不顺风陆运</li>
        <li>声控灯只有听到好听的声音才会打开</li>
        <li>新闻都是编的吧，还专门有个职位叫主编</li>
        <li>如果在野外喝不到干净的水，可以提前在家里把饮用水做成冲剂携带</li>
        <li>屁股决定脑袋。
          这就是你喜欢守望先锋的原因？
        </li>
        <li>孙悟空把白骨精打出原形后说：“这也太露骨了”</li>
        <li>蓝猫开通微博账号后，大V们纷纷询问如何升级到超V</li>
        <li>乌龟和兔子赛跑，大象和长颈鹿赛高</li>
        <li>蝙蝠倒挂着出声是不是坠吼的</li>
        <li>古代改朝换代通常以上一代皇帝死亡告终，所以古代帝制是一种弑君体</li>
        <li>小明和朋友一起去体检排队称体重，小明对朋友说：“第一人称我，第二人称你，第三人称他”</li>
        <li>塑料的自然降解时间可以长达几百年，所以塑料情其实是在形容感情牢固</li>
        <li>小明从日本留学回来，遇事喜欢说“の”，于是逢人就问：“这事可以说の吗？”</li>
        <li>山口山到底屏蔽了什么字？</li>
        <li>小明夸下海口说：“这真是一座美丽的城市”</li>
        <li>小明每天给女朋友发笑话逗她，于是女朋友创建了个微博账号叫“弱智吧官微”</li>
        <li>青楼，也叫汉乐府</li>
        <li>柳传志给柳青投资，这就是资本家</li>
        <li>厨艺比赛，食人族选手</li>
        <li>脱口秀训练营，也叫比段子好校</li>
        <li>鹊桥，也叫二仙桥</li>
        <li>丈夫阳性被拉去医院隔离治疗，妻子阴性在家隔离，夫妻从此阴阳两隔</li>
        <li>僧人天天来布施，把大家都施肥了</li>
        <li>小明一生言出必行，写了本书叫《不食言论》</li>
        <li>审问时犯人坚决不开口，王警官只好带他去做核酸检测</li>
        <li>点炮仗要小心地点，下水道里不行</li>
        <li>小明感叹日企工作累，旁人问是不是因为日本职场有加班的习惯，小明摇了摇头说：“因为工作到一半的时候企鹅跑了”</li>
        <li>评级只有ABC，所以没有得D的问题</li>
        <li>小时候不服管教被爸妈提起来打的那段时光我称之为孩提时期</li>
        <li>爸妈非常爱我，每次和别人提起我时都轻拿轻放</li>
        <li>搞数学的大多数都单身，只能靠代数生活</li>
        <li>老北京奸商去托儿所找托</li>
        <li>纣王看着姬昌，对旁边的手下说：“把子肉给他吃”</li>
        <li>恨铁不成钢的话，可以给铁贴一层钢化膜试试</li>
        <li>雨下多了，小溪流就有江化的趋势</li>
        <li>人类果然是充满爱的种族，连心脏都是心形</li>
        <li>知识水平不高，看不懂字就只能看图，所以需要图样</li>
        <li>老师：“孩子的成长需要家庭和学校共同培养，汤姆，你的家庭起作用了吗？”
          汤姆：“家庭作业！”
        </li>
        <li>求道者头头是道</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2022年3月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

