<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年4月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>林则徐去了虎门之后鸦片销量大增</li>
        <li>“你这种打扮会雷到别人的”
          “没事，我小心地雷”
        </li>
        <li>小明：“妈，你骂我怎么那么狠啊？”
          小明妈：“我这是语重心长，语气轻了你就不长心啦”
        </li>
        <li>小明在群里发了“哈哈哈哈哈哈哈哈”后被禁言，也许这就是八哈mute</li>
        <li>能打的疫苗不能打，不能打的疫苗很能打</li>
        <li>喜欢发小财的小明把发小家偷了个精光</li>
        <li>小明分手之后才去医院看病，自称是因为分必得治感冒</li>
        <li>林则徐去了虎门之后硝烟四起，英国为战而来</li>
        <li>看到我最近的成长，理财老师认为最适合我的培养方法是无土栽培</li>
        <li>很多人因为骂秦始皇而被封号，所以大家都叫他赢销号</li>
        <li>杨千嬅早在2004年就对我国经济形势做出预测：《处处稳》</li>
        <li>小明今天本来要给狗狗梳毛结果忘记了，狗狗生气地大喊：“梳梳我啊！”</li>
        <li>食人族吃的都是杀人饭</li>
        <li>经常说“这个我熟”的小明被食人族当作自热食品</li>
        <li>负责任的小明身上的责任数量却是正数</li>
        <li>团里的赤魔法师下副本不开语音沟通，指挥急了，说：“能不能开个麦啊，赤佬”</li>
        <li>死神每天和那么多人赛跑，为什么还没成为世界跑步冠军？</li>
        <li>In a BBQ restaurant<br>
          Normal people: Can you give me a big slice of that ?<br>
          Programmer: Can you give me a big substring of that ?
        </li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/18#title1">2022年4月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

