.list {
  height: 36px;
  margin: 20px 0;
  background-color: white;
  line-height: 36px;
  vertical-align: center;
  display: flex;
}

.list:hover {
}

.title {
  flex: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
  padding-left: 16px;
}

.title:hover {
  color: #007fff;
}

.tag {
  flex: 1;
  text-align: center;
}

.year {
  margin-bottom: 40px;
}

.year-title {
  font-size: 32px;
}
