<ng-container *ngIf="tagList !== []">
  <div *ngFor="let tag of tagList; let i = index" class="year">
    <div class="year-title">
      {{tag}}
    </div>
    <div *ngFor="let item of showedPostList[i]" class="list">
      <!--      <ng-container *ngIf="item.date.slice(0, 4) === tag">-->
      <a class="title" routerLink="/list/{{item.id}}">
        {{item.title}}
      </a>
      <div class="tag">
        <ng-container *ngFor="let j of item.tags; let k = index">
          {{j}}
          <ng-container *ngIf="k !== item.tags.length - 1"> /</ng-container>
        </ng-container>
      </div>
      <div class="tag">
        {{item.date | date: 'yyyy-MM-dd HH:mm'}}
      </div>
      <!--      </ng-container>-->
    </div>
  </div>
</ng-container>

