<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年2月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>罗永浩老师应该去代言南孚电池，因为他巨能还</li>
        <li>“当弱智门槛也太高了吧，智商要20”
          “这也不高啊”
          “是低于20”
        </li>
        <li>拔河，也叫拉力赛。</li>
        <li>小明因为不够色而被诊断为色弱</li>
        <li>3对7说：“你有可取之处”</li>
        <li>小明每次和朋友见面都约在地铁口，朋友问他为什么，小明说：“我就好这口”</li>
        <li>过年了，一公司老板要求员工给他发压岁钱，员工问为什么，老板说：“倒贴是福”</li>
        <li>李白走完蜀道后感叹道：“1虚兮”</li>
        <li>觉得所有人都很无语的小明终于发现自己有听力障碍</li>
        <li>穿上新衣服的皇帝逢人便问：“有衣吗？”</li>
        <li>既然当局者迷，那我就当局长吧</li>
        <li>大家都认为说叠词很恶心，只有小明哈哈一笑</li>
        <li>感应灯人走灯灭</li>
        <li>王警官每天在监狱里待那么长时间，有没有可能他才是囚犯呢？</li>
        <li>风湿患者学会风水</li>
        <li>pornhub是不是也能叫b站</li>
        <li>因为怕别人觉得自己不够有趣，小明每天都要带一包趣多多在身上</li>
        <li>争分夺秒这个词也太暴力了吧</li>
        <li>杂志社因为杂志太多惨遭化学老师提纯</li>
        <li>讨厌死了之后变成了讨厌鬼</li>
        <li>都说苦大仇深，那他们俩结婚是不是就刚刚好</li>
        <li>这根东西，别看它摸起来很硬，但凡捅进去鼓捣两下，沾点水就软了，真是太不经用了纸吸管。</li>
        <li>由于仓库过多，小王只能一库一库地搬东西</li>
        <li>食人族招待客人时都请他们吃点心</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2021年2月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

