<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年7月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>苏东坡就是我的苏坡爱豆</li>
        <li>讨厌贴标签的人是不是也是一种贴标签</li>
        <li>又是庖丁又是解牛的，如果你是男人你还笑得出来吗？</li>
        <li>小明是研究生，他得了一种病，只要一发作，就会被教授骂然后打回来重发。</li>
        <li>为什么嫩娘是你娘而老娘是我</li>
        <li>“你能吃吗？”
          “能！”
          话音刚落，这位大胃王就被食人族抓走了。
        </li>
        <li>月光族小明在月末收到了公司发的奖金，痛哭：“我白月光了！”</li>
        <li>龙王：“龟丞相，你说今天这个雨下多少为好？”
          龟丞相：“回龙王，今天下三分……”
          龙王：“原来是诸葛先生，失敬失敬”
        </li>
        <li>和尚梳头——一丝不挂</li>
        <li>这么高的楼房，没有楼梯，下不来吧？</li>
        <li>箫声又称冰与火之歌</li>
        <li>我明明点的是锅包肉，为什么外卖送过来是盒包肉</li>
        <li>高质量男性不是胖子吗，为什么他们那么瘦？</li>
        <li>老师问小明：“1加1等于几？”
          小明答：“男上加男”
        </li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/9#title1">2021年7月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

