<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年7月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“谁提出，谁负责”，于是王警官将好心报警的小明捉拿归案</li>
        <li>：我老公有痔了<br>
          ：你是社会主义？
        </li>
        <li>上海食人族喜欢吃浓油赤ちゃん</li>
        <li>工作了这么多年却没有存款，原来是我的钱被社会统一调剂了</li>
        <li>Tony很擅长卷发，尤其是抽奖微博</li>
        <li>取经成功后，唐僧说：“我真是佛了！”</li>
        <li>朋友约小明去看《天气之子》，结果小明去看了一天蘑菇</li>
        <li>神农最初尝的草药被称为原神农药</li>
        <li>堵车了不要着急，下车看看前车的挪车电话，打过去让他挪车就好了</li>
        <li>公司的隐藏福利藏得真深，我直到离职了都没发现</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/21#title1">2022年7月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
