<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年3月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>小明的爸妈经常跟他说不要勉强，所以小明退学了</li>
        <li>一只老虎有一张虎口，一个人有两个虎口，所以一个人是两只老虎，那么三人应该成六虎</li>
        <li>如果骂什么就等于乳什么的话，那如果我骂交大岂不是……</li>
        <li>小明和jk摔跤却被jk制服</li>
        <li>“这篇文章你是第二作者”
          “那第一呢？”
          “第一，我不叫喂”
        </li>
        <li>“我是人，吃人的人”
          “那你到底是不是人？”
        </li>
        <li>金库，也叫资本家</li>
        <li>一夜多少次才能登上《次数》周刊的封面？</li>
        <li>人生能有几个一百年？</li>
        <li>草本植物，树也是</li>
        <li>上班可以叫上工，那加班为什么不能叫加工？</li>
        <li>为什么有左撇子没有右捺子？</li>
        <li>微博hr：“我们微博是个非常有爱的大家庭”，夹总：“不行，不能有爱，快屏蔽掉！”</li>
        <li>修锁匠小明对每个路过的人都问一句：“想开了吗？”</li>
        <li>今天是植树节，食人族的小朋友们记得种植物人哦</li>
        <li>大部分大学生都说自己被高数支配过，有没有可能高数才是最厉害的s呢？</li>
        <li>机器人小明问：“爸爸妈妈，我是怎么来的呀？”，爸爸妈妈回答：“宝贝，你是我们做AI做出来的”</li>
        <li>企鹅遇到了敌人，大喊一声：“兄弟们，抄家伙！”</li>
        <li>小明喜欢嗑cp，被人称为嬉皮士</li>
        <li>意中人不就是意大利人吗？</li>
        <li>面对高数题目，小明使出浑身解数写下了一个“解”</li>
        <li>指针：*
          可爱的指针：kawaii*
        </li>
        <li>游泳比赛，也叫无路赛</li>
        <li>美好的一天，往往因为过了24点而结束</li>
        <li>生物学家说：“你的大脑八成是水”</li>
        <li>BL剧里面的男一号叫男一，那女一号是叫男零吗？</li>
        <li>“伊藤君，你今天怎么这么快啊？”
          “我慢不了”
        </li>
        <li>小明在水族馆看到了小丑鱼，他从头笑到尾</li>
        <li>《午夜凶铃》是恐怖片的贞子集</li>
        <li>功夫不负有心人，真功夫不负真心人</li>
        <li>打肿肚子是不是也能充胖子？</li>
        <li>咖啡整天跟咖啡伴侣泡在一起</li>
        <li>“你会重装系统吗？”，小明问旁边的机甲驾驶员</li>
        <li>耳鼻喉科提醒您：吃鱼时一定要分清主刺</li>
        <li>泊松看着圆盘中的光斑说：“这波不亏”</li>
        <li>赵子龙一身是胆，如果他被吓破了胆是不是就等于被破了身</li>
        <li>木匠拿起未完成的木雕，开始了复刻</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2021年3月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

