<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年1月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>“我好了”可以翻译为“well done”</li>
        <li>“我想起来了”，于是小明站了起来</li>
        <li>明明是春节，为什么时间在冬天？</li>
        <li>在天愿作比翼鸟，在水愿为比目鱼。</li>
        <li>草坪除了草就没别的了</li>
        <li>海水那么咸，为什么海鱼不是咸鱼</li>
        <li>食人族钓鱼钓的是人还是食人鱼？</li>
        <li>为什么宝石有祖母绿没有祖父绿？</li>
        <li>为什么《武林外传》讲的都是武林内的事？</li>
        <li>得的地警察被语句顺序警察出警</li>
        <li>来自山西的食人族小明说：“我最喜欢吃刀削般的面庞了”</li>
        <li>嫦娥奔月之后，后羿看着空无一人的家里，狠狠地说道：“责任全在月球！”</li>
        <li>小明看购物视频天天种草，家里的阳台已经被他种满了</li>
        <li>三打白骨精，一共36个</li>
        <li>毕业典礼是学校办的吧，为什么要我来做毕业设计？</li>
        <li>雪崩的时候，没有一片雪花是黑色的</li>
        <li>长工小明通过吃光家里的余粮的方式，成功实现阶级越迁，成为了地主</li>
        <li>杀不死我的只会让我掉血</li>
        <li>冬天不减肥，夏天就可以买新衣服啦</li>
        <li>头发对梳子说：“打结！停下！”</li>
        <li>冷知识：在搜狗搜狗真的能搜到狗</li>
        <li>儿子指着别人手里的鸡肉卷跟爸爸说：“我要那卷！我要那卷！”。爸爸立刻就怒了，吼道：“小小年纪不学好，不准内卷！”</li>
        <li>很奇怪，同样是华莱士，有的人买是为了吃，有的人买却是为了拉</li>
        <li>王警官办案时过于深入，案直呼受不了</li>
        <li>单复数警察经常提醒别人+s，直到他们遇到了他</li>
        <li>量词警察认为五条人应该改名为五个人</li>
        <li>日语里的“家出”这个词是从山东传过去的吧，怪不得他们也叫dong ying</li>
        <li>为什么大家都想拥有一颗赤子之心，因为赤子之身已经回不去了</li>
        <li>食人族吃了吉野一家后说：“吉野家真好吃”</li>
        <li>在伸手不见五指的时候能看到我的六指吗</li>
        <li>先辈的眼中有哈姆雷普</li>
        <li>人都是会变老的，你现在不老，只能说明你too young 。人都是会变复杂的，你现在不复杂，只能说明你too simple 。</li>
        <li>我明明只有十个手指头，为什么却有十二指肠？</li>
        <li>单身狗为什么要买床上用品，他们又不和人上床</li>
        <li>古人自言自语，现代人自说自话</li>
        <li>你的文字很喜欢，煎饼果子记得摊</li>
        <li>王大夫对小明说：“你的病已经被我根治了，虽然有阵痛，但是很快就能恢复，放心吧”，小明捂着屁股颤抖着说：“好”</li>
        <li>食人族对段子手小明说：“你真的好有梗啊，吃起来也太费劲了吧”</li>
        <li>“反转了，反转了！”，来自山东的驾校教练对我吼道</li>
        <li>路人问小明男厕在哪，路人说在一楼南侧。路人又问女厕在哪，小明说在一楼南侧的男厕的南侧。</li>
        <li>爸爸的爸爸叫爷爷，爷爷的爸爸叫爸爸</li>
        <li>古尔丹被称为魔兽老王，因为他绿了一群兽人</li>
        <li>光头去称体重，毛重应该是0吧</li>
        <li>成天画大饼的老板居然是绘画专业毕业的！</li>
        <li>仙剑骑侠传这个名字是山东人起的吧，我看明明仙剑都是在下面啊</li>
        <li>收到假币的小明梦想成真</li>
        <li>豆沙包的心真黑！</li>
        <li>妈妈看到小明拿着吸尘器对着窗外问他在干嘛，小明说：“我在抽风”</li>
        <li>反着关门是不是能把门打开</li>
        <li>研究表明，每天长时间对着屏幕看弱智吧对眼睛不好</li>
        <li>哄堂大笑：逗您母亲一乐</li>
        <li>糖僧甜吗？</li>
        <li>灵魂是脑海中的孤岛</li>
        <li>“多动动脑子，这玩意很容易就粘锅了”，食人族厨师说。</li>
        <li>人到中年，大概30多岁吧</li>
        <li>我向世界说晚安，世界报我以黑暗</li>
        <li>“好吃不？”，“你觉得不好吃就直说，别问我们山东人”</li>
        <li>如果阿姆雷特同时被两个人看到，那么这两个人看到的哈姆雷特一样吗？</li>
        <li>小明最怕遇到透明人了</li>
        <li>晚上牙疼睡不着，最后到底是疼晕过去的还是疼累了睡着的？</li>
        <li>成年人的崩溃往往只在一瞬间，未成年人也是</li>
        <li>花那么香是不是因为喷了香水</li>
        <li>星星点灯，点的是油灯还是电灯呢？</li>
        <li>满脑子黄色颜料的小明被食人族当作画笔使用</li>
        <li>为什么去世的人的照片都是黑白的，这也太不吉利了吧</li>
        <li>饼干工厂为什么都要用针线盒装饼干啊？</li>
        <li>公史莱姆叫史莱妐吗？</li>
        <li>小明在动物园养了十年的大象，终于学会了说象声</li>
        <li>别低头，会看到肚腩</li>
        <li>愚公：“我最讨厌开门见山了！”</li>
        <li>旧冰箱被重新拿出来使用算发挥余冷吗？</li>
        <li>现在大部分人都不怎么写字了吧，建议写字楼改名打字楼</li>
        <li>“咱们食堂馒头师傅能把馒头做出花来！”，“那您直接请个花卷师傅不好吗 ”</li>
        <li>白银和钻石是黄金搭档</li>
        <li>思想和身体总得有一个在路上。既然我已经意识到了，那身体是不是就不用过去了？</li>
        <li>当我没有灵感的时候我就会去看《西游记》。从头开始，看到第47回就找到了。</li>
        <li>昨晚被害人离奇死亡，王警官经过仔细分析，推断被害人叫离奇</li>
        <li>“我要的是《飞鸟集》不是斋藤飞鸟的写真集！”，小明对书店老板说</li>
        <li>冷知识：“够”和“夠”是一个字</li>
        <li>小明在考试时学会了换位思考，最后因为与座位上的准考证号不一致而被赶出考场</li>
        <li>戒色吧标语：他人即地狱，进入他人即进入地狱</li>
        <li>“我这就让你瞧瞧我的看家本领！”，门房的秦大爷大声喊道。</li>
        <li>室外高人进入室内会变矮吗？</li>
        <li>三人行必有三个人</li>
        <li>食人族对商店老板说：“一口价多少？”</li>
        <li>小明喜欢拐着弯骂人，但是他直行时非常礼貌</li>
        <li>拉皮手术其实也可以叫调皮手术</li>
        <li>他因为签名非常艺术，被誉为著名艺术家</li>
        <li>几台电脑一起逛街，并行计算</li>
        <li>罗马不是一天建成的，因为一天不是建筑工人</li>
        <li>仿生人脑子进水之后睡觉还能梦到电子羊吗？</li>
        <li>王大家连着生了5个女儿，终于在第6个生了儿子，叫王大陆</li>
        <li>在哪里睡着就要在哪里睡醒</li>
        <li>小明在澡堂里趁热打铁，当场通关了只狼</li>
        <li>“我跟你拼了！”，小明立刻点击朋友发来的拼多多链接下单</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/3#title1">2021年1月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

