<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年9月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>核不扩散是指全民核酸这种行为不扩散到国外吗？</li>
        <li>普通人结婚喝喜酒，广东人结婚喝喜茶</li>
        <li>明明是个一，却叫零动岛</li>
        <li>"这个b班就上到这了！"说完，老师走向了a班</li>
        <li>领导：我刚刚发给你一封邮件<br>
          我：啊，他不是已经被关进去了吗？
        </li>
        <li>男同击剑涉嫌挑起对立</li>
        <li>大家都想要博人眼球，所以博人究竟拥有什么眼？</li>
        <li>受害者交了买路钱后依法将劫匪赶出自己的领土</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/23#title1">2022年9月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
