<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年10月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>仿生人之间会摩擦出爱情的电火花吗？</li>
        <li>运动员那么会搞运动，为什么不去当官呢？</li>
        <li>回想起上次使用“xx子”，还是我对我家狗喊“狗子”</li>
        <li>车厘子是女大学生对cherry的音译吗</li>
        <li>人生很苦，所以食人族从来不吃刺身</li>
        <li>雪花煮熟了是水，那为什么纯生的雪花是啤酒？</li>
        <li>父爱如山，为什么我妈妈不叫如山？</li>
        <li>我，人称“你”。</li>
        <li>段子手小明在街机厅玩《街头霸王》时经常听到别人对自己说“你好有梗啊”。</li>
        <li>迪奥大喊：“我要切断我的一切社会关系！JOJO！”</li>
        <li>爱迪生和特斯拉互相写信是交流电</li>
        <li>我目视前方，余光中写出了《乡愁》。</li>
        <li>“算了，不算了”，我看着不定积分说到。</li>
        <li>“这也太减压了吧 ”，我一边给高压锅放气一边说。</li>
        <li>”我要是能争点气就好了“，说罢瓦特发明了蒸汽机。</li>
        <li>“这道数学题太难了，做不出来”，我向老师表达了我的不解。</li>
        <li>京剧是老生常谈的话题。</li>
        <li>”我给吉他升了个级“
          ”升级成啥了？“
          ”旺夫“
        </li>
        <li>弱智吧的反义词是天才吧，为什么苹果公司还不来收购呢？</li>
        <li>“一手交钱，一手交货”不对吧，应该是“一手交钱，一手拿货”</li>
        <li>火车跑得快，都是列车长开的好头</li>
        <li>今日本人碰到小男孩在打印度假存的照片，他说他来自金华为了健美国家给了他很多帮助，然后他去水果店买苹果手机这几天线上支付出问题了让我帮忙，我付完钱之后他说会给我回信号码是xxx，最后他跨越南边的护栏，离开了。</li>
        <li>导游：“大家都知道恐龙是肉食动物”
          游客A：“肉食动物不是两个人吗？怎么成龙了？”
          游客B：“什么？成龙大哥也去讲漫才了？！”
        </li>
        <li>“择日不如撞日”，说罢夸父开始追逐太阳。</li>
        <li>电动扶梯那么长，为什么保洁员只擦两端的扶手？</li>
        <li>“这是假人”，我指着蜡像馆里的蜡像说。
          “不，这是真人”，小明指了指蜡像的名字，“张三丰”。
        </li>
        <li>“下辈子想投个什么胎？”阎王爷问。
          “有首就行”，刑天说。
        </li>
        <li>建议以后大学生回答“论文写得怎么样了？”时，别再说“八字还没一撇”，改成“水字还没一竖钩”。</li>
        <li>过山车不走过山隧道会被罚款吗？</li>
        <li>小明不仅是个名词，还是一个名字。</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/12#title1">2021年10月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

