<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年10月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>克是质量单位，秒是时间单位，我司是傻逼单位</li>
        <li>“别吃，全是科技”，食人族看着机器人说到。</li>
        <li>学生迟到了，班主任问：想罚站吗？<br>
          学生答：战啊！
        </li>
        <li>有观世音菩萨，为什么没有见世面菩萨？</li>
        <li>因产业升级需要，空巢老人更名为燕窝老人</li>
        <li>众多艺人为何被抓？ 只因鸡</li>
        <li>小明被发好人卡太多，一生都在中国平安工作</li>
        <li>在身上纹自己名字的人就不怕自己突然改名吗？</li>
        <li>无业的小明喊道：“谁说我没有单位的？我的单位是个！”</li>
        <li>我和这个世界不合适，每天都在永远离开的路上</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/24#title1">2022年10月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
