<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年1月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>小明起床后觉得世界一片灰暗，原来是忘记戴有色眼镜了</li>
        <li>把水从20度加热到80度，位移是0，没有做功，那热量是哪来的？</li>
        <li>赵本山，也叫赵本山本山</li>
        <li>孙悟空当了程序员之后，对着产品经理大喊：“还不快快现出原型？”</li>
        <li>买书如山倒，看书如愚公移山</li>
        <li>水加热是热水，狗加热是热狗，微波炉加热是热剩菜</li>
        <li>同时和多个人谈恋爱不仅花钱，还花心</li>
        <li>十只猫有九只叫咪咪，还有一只叫喵喵</li>
        <li>听力障碍者的起床闹钟是床震吗</li>
        <li>有的函数为了求极限连下限都不要了</li>
        <li>“你比资本家还要吃人！”小明对食人族喊道</li>
        <li>二次元的风是不是叫痛风</li>
        <li>宅急便是不是着急回家上厕所</li>
        <li>写作比赛，写作比赛，比赛写作</li>
        <li>阿基米德在浴缸中想到了浮力，小明在浴缸中想到了浮力姬</li>
        <li>自从上班摸鱼刷弱智吧之后，我的工作笑率提高了不少</li>
        <li>我在朋友圈里发了我的微信二维码，一天过去了为什么还没人加我</li>
        <li>男男是两个男的，公公却不是</li>
        <li>看到路边那辆肇事逃逸的车辆，王警官上去就贴了一张违章停车</li>
        <li>买水床，10斤床有8斤水，这也太亏了</li>
        <li>小明因为看书看不大清，被清朝通缉</li>
        <li>沈鹤，也叫小沈阳</li>
        <li>明明是播放声音的设备，为什么叫收音机</li>
        <li>甲方因太会挑刺成为吃鱼比赛冠军</li>
        <li>喜欢嗑cp的人也叫同人糖</li>
        <li>猎头因为擅长挖人被评为考古界最强助手</li>
        <li>刚出生的婴儿睁眼看世界</li>
        <li>女大学生见老师拖堂迟迟不下课，于是偷偷从教室后门溜走并说了一句：“真是该溜子”</li>
        <li>潜水的潜规则是憋气</li>
        <li>小明在翻车比赛中成功翻车</li>
        <li>恰恰就是一包瓜子</li>
        <li>虽然是一个连词，但是也是</li>
        <li>日本无法颁发马丁路德金金奖</li>
        <li>我看好多车上都写着“核载几人”，核武器也能载人吗？</li>
        <li>过劳死，也叫干活干死</li>
        <li>流量为王，怪不得领导人不管去哪做啥都大肆报道</li>
        <li>大脑进水后才能产生头脑风暴</li>
        <li>开启了来电显示之后，小明终于发现没有异性喜欢他</li>
        <li>“这就是中国”，张维为指着“china”说</li>
        <li>一个灵魂为什么有五个人</li>
        <li>无毒有偶，单身的小明吃下了爱的解毒药</li>
        <li>自杀未遂判几年？</li>
        <li>整容这个词是东北人发明的吧</li>
        <li>不知道如何联系区委会的小明灵机一动，在微博上发布了对区委会的投诉</li>
        <li>刘备为什么对张飞关羽这么好？因为张关礼待</li>
        <li>请不要穿羽绒服释放奥秘法术，因为奥秘克绒</li>
        <li>“我的工作是给别人刷飞机火箭”，清洁工小明说</li>
        <li>小明在某市比赛获奖，向大家展示他在当地得的奖状</li>
        <li>西餐里的鸡肉料理是不是可以统称“大盘鸡”</li>
        <li>老大跟我们说：“这是一块很难得的地盘。”</li>
        <li>看完《泰坦尼克》后，小明去太平洋潜水时说：“海底捞同款”</li>
        <li>更，谐音梗。</li>
        <li>的地得警察出警，也叫圈d运动</li>
        <li>每天都报的新闻，也叫日经新闻</li>
        <li>面对伏地魔，哈利波特的父母被指身亡</li>
        <li>我问客服我的包裹寄了没，他说：“寄了，没寄”。</li>
        <li>福利姬的工作应该很轻松吧，毕竟可以带薪睡觉</li>
        <li>小明的难处是比较难处</li>
        <li>女大学生锻造成功，大喊：“欧耶子”</li>
        <li>福倒着贴了那么多年，现在正着贴是否也是一种福倒了</li>
        <li>陈胜吴广临时起意</li>
        <li>学生党一定很有福气吧，每次他们都说要我倒贴</li>
        <li>都发钱等于都不发钱，为了避免其他国家发放的救济金等于不发，我国坚持不发</li>
        <li>看到转录的过程，RNA说道：“DNA动了”</li>
        <li>歌手们在悲痛时更容易产出好的音乐作品，是因为他们擅长苦中奏乐</li>
        <li>我网购的东西会用快递纸箱装起来，那如果我只想买快递纸箱是不是就不用网购东西了</li>
        <li>小明也太没有距离感了，明明是6cm，偏要说是18cm</li>
        <li>某个公主会努力完成每一个许下的诺言，被称为“一诺千金”</li>
        <li>某企业股价大跌，董事长声称其发展没有倒退，只是在非正向前进</li>
        <li>小李对周伯伯的事情非常了解，大家都叫他“周伯通”</li>
        <li>没带家门钥匙的小明只好置身室外</li>
        <li>耶稣，也叫群主</li>
        <li>不好意思，电饭锅的米装太多，冒饭了。</li>
        <li>山东朋友看到小明的红色健康码之后对他说：“红码你，红码你”</li>
        <li>小明吃鱼时被背刺刺了</li>
        <li>这行干不下去了，<br>
          换行吧。
        </li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">2022年1月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

