<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2022年11月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>知名艺人被爆出轨，原来是眼花，撩乱了</li>
        <li>考试排名，第一行的人在第一行</li>
        <li>手机快没电了，机智的小明打开各种app，用广告充满了手机</li>
        <li>为了破案，警方调查了一个月，结果嫌犯躲在太阳上逃过一劫，于是警方多找一日将其抓获</li>
        <li>小明在火葬场工作，把爷爷的朋友们都烧给了他</li>
        <li>如果说把自己的鱼交给别人养叫寄生鱼，那么何生亮？</li>
        <li>不打不相识也叫肌肉记忆</li>
        <li>我对服务员说：“叫你们老板来！”，因为找工作我要跟老板谈</li>
        <li>学而不思则惘，思而不学则殆，惘殆害人啊！</li>
        <li>小明酒后参赛，交警给出12分的好成绩！</li>
        <li>生活充满了苦涩，可惜我吃不得苦，只能涩了</li>
        <li>老师：“面试时一定要有腹稿，不要临时编”<br>
          小明：“好的，这就去考公务员”
        </li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/25#title1">2022年11月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
