<div class="main-container">
  <div class="article">

    <p class="paragraph">
      17点了，你从工位上站起来哐当哐当收拾东西准备下班，你突然感觉一阵异样，发现同事们都在用惊奇的眼光看着你。于是你停止收拾东西，慢慢坐下，悄悄问旁边的老同事
    </p>
    <p class="paragraph">
      “x哥，到点了为什么大家都不走啊？”
    </p>
    <p class="paragraph">
      x哥看了你一眼：“小x啊，你以前在996的公司上过班吗？”<br>
      “没有”
    </p>
    <p class="paragraph">
      “我告诉告诉你，在这种公司想下班，得巧立名目，拉拢同事。
    </p>
    <p class="paragraph">
      巧立名目，就是去楼梯间打个电话、去上个厕所、去楼下拿个快递、去散步/吃饭之类的，离开领导和同事们的视线然后趁机下班。
    </p>
    <p class="paragraph">
      拉拢同事，就是跟同事约好，到点了，让同事来找你“xx有空吗？上次开会说的那个问题具体谈谈”，回答“好的，但是我忘记打印资料了，你先等我去打印室一趟”，然后在去打印室的路上下班。
    </p>
    <p class="paragraph">
      成功之后，还要和同事说好一个套路别重复用，私底下奶茶零食安排到位，才能让他们配合。”
    </p>
    <p class="paragraph">
      “这么麻烦啊”<br>
      “已经不错了，具体能不能成功还要看领导脸色”
    </p>
    <p class="paragraph">
      “谁的脸色？”<br>
      “领导。你以为这些招数领导不知道吗，领导心里跟明镜似的。要是哪天领导心情不好，你12点都别想下班！”
    </p>
    <p class="paragraph">
      “领导？！我工作辛苦一天，就是为了看他的脸色？”<br>
      “对！”
    </p>
    <p class="paragraph">
      “我好不容易通过面试，来咱们公司上班”<br>
      “对”
    </p>
    <p class="paragraph">
      “我还得拉拢同事”<br>
      “对”
    </p>
    <p class="paragraph">
      “还得巧立名目”<br>
      “对”
    </p>
    <p class="paragraph">
      “还得看TMD脸色”<br>
      “对”
    </p>
    <p class="paragraph">
      “那我不成了跪着要饭的了吗？”<br>
      “那你要这么说，来这种企业上班还真就是跪着要饭的。就这，多少人想跪还没这门子呢！”
    </p>


    <h3 class="title" id="title1">总结</h3>
    <p class="paragraph">
      快跑
    </p>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/1#title1">总结</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

