<div *ngFor="let i of lists" class="post-card">
<!--  <p class="post-card-title">-->
    <a class="post-card-title" routerLink="/list/{{i.id}}">{{i.title}}</a>
<!--  </p>-->
  <p class="post-card-description">
    {{i.description}}
  </p>
  <div class="post-card-other">
    <p>标签：
      <ng-container *ngFor="let j of i.tags; let k = index">
        <a [queryParams]="{tag: j}" [routerLink]="['/list']" class="post-card-tag-link">{{j}}</a>
        <ng-container *ngIf="k !== i.tags.length - 1"> / </ng-container>
      </ng-container>
    </p>
    <p>字数： {{i.totalNum}}</p>
    <p>日期： {{i.date}}</p>
  </div>
</div>
