<div class="main-container">
  <div class="article">
    <h3 class="title" id="title1">2021年11月段子合集</h3>
    <div class="paragraph">
      <ol>
        <li>小明每次考试都垫底，于是他开始怀疑自己其实是水煮肉片里面的豆芽。</li>
        <li>听说国内TOP3高校有十几所之多，北大慌了，清华同方。</li>
        <li>“你说话真的很难听”我跟澳大利亚的同事说。</li>
        <li>数学家信佛之后决定以后只研究素数。</li>
        <li>114514既是有理数，也是无理数。</li>
        <li>小明真厉害，连地球的身上都有他的影子。</li>
        <li>小时候的二口女是不是就叫小两口呀？</li>
        <li>无人超市对食人族来说是无货超市</li>
        <li>“这家餐厅很贵，点菜悠着点。”
          “好的。”于是小明开始一边荡秋千一边点菜
        </li>
        <li>方镜子永远无法破镜重圆</li>
        <li>画笔，也叫染色体。</li>
        <li>花子女士每次做完自我介绍都会收到善款</li>
        <li>明明是在加热冷水，为什么被称为“烧开水”？</li>
        <li>猛男们死后一定是红粉骷髅吧</li>
        <li>小明每天吃欺骗餐是为了欺骗身体他没在减肥</li>
        <li>辣是痛觉，那我先吃布洛芬再吃麻辣火锅就可以了</li>
        <li>打败无天佛祖的办法是聊天，因为聊胜于无。</li>
        <li>别对流星许愿，不灵不灵的。</li>
        <li>捕蛇者说柳宗元，岳阳楼记范仲淹。</li>
        <li>贝多芬的挚爱是丽丝</li>
        <li>有什么好难过的？高等数学吗？</li>
        <li>为什么spaghetti叫意大利面，french fries却不叫法国薯条？</li>
        <li>雀巢能做咖啡，为什么燕窝不行？</li>
        <li>dddd是什么意思？
          懂的都懂。
        </li>
        <li>视力障碍小学课间也做眼保健操吗？</li>
        <li>一个天大的难题：如何在南开找对象。</li>
      </ol>
    </div>
  </div>
  <div class="side">
    <div class="index">
      <p class="index-title">
        目录
      </p>
      <div class="index-body">
        <ul class="index-list">
          <li class="index-body-item-h1">
            <a href="list/13#title1">2021年11月段子合集</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

